@import '../../colors.scss';
@import '../../breakpoints.scss';

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ddd;
  height: 50px;
  position: relative;

  @include lg {
    justify-content: space-between;
    padding: 20px;
    height: auto;
    max-width: 1100px;
    margin: 0 auto;
  }
  h2 {
    font-size: 1.2em;
    font-weight: 400;
  }
  .burger-btn {
    position: relative;
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
    }
    &::before {
      top:8px;
    }
    &::after {
      bottom: 8px,
    }
    &.open {
      position: absolute;
      width: 0;
      &::after,
      &::before {
        background-color: $white;
        width: 25px;
        height: 4px;
      }
      &::before {
        transform: rotate(45deg) translateX(8px) translateY(-22px);
      }
      &::after {
        transform: rotate(-45deg) translateX(10px) translateY(20px);
      }
    }
  }
  .burger-btn,
  .burger-btn::before,
  .burger-btn::after {
    width: 30px;
    height: 3px;
    background-color: $gray;
    border-radius: 25%;
  }
  .burger-menu {
    position: absolute;
    background-color: $gray;
    height: 100vh;
    width: 85%;
    max-width: 300px;
    top: 0;
    right: 0;
    padding-top: 50px;
    .menu-list {
      color: $white;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 15px;
      li {
        margin: 5px 0;
        font-size: 1.3em;
        width: 100%;
        text-align: right;
        padding: 10px 20px;
        font-weight: 600;
        &:last-child {
        background-color: $active-link;
        color: $gray;
        }
      }
    }
  }
  .logo-title {
    display: flex;
    align-items: center;
    figure {
      margin-right: 15px;
    }
    h2{
      font-size: 1.2em;
      font-weight: 400;
    }
  }
  .menu-list-lg {
    display: flex;
    list-style: none;
    background-color: $white;
    padding: 10px;
    li {
      margin: 0 5px;
      &:nth-child(2) {
        &::before,
        &::after {
          content: "|";
          color: $gray;
        }
        &::before {
          margin-right: 10px;
        }
        &::after {
          margin-left: 10px;
        }
      }
    }
  }
}
